<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
</head>

<body>
  <nav class="nav">
    <div class="nav-bar">
      <a href="/" hreflang="en">home</a>
      <a href="about">about</a>
      <a href="contact">contact</a>
    </div>

    <style>
      a{
        text-decoration: none;
        color: cornflowerblue;
        background-color: #fff;
        padding: 6px 10px;
        border-radius: 6px;
      }
    </style>
  </nav>
  {{{body}}}
</body>

</html>