<div class="info">
    <div class="info-container">
        <p>User ID:: {{id}}</p>

        {{body}}
    </div>
</div>
<style>
    .info {
        height: 100vh;
        background-color: bisque;
    }

    .info-container {
        padding: 16px;
    }
</style>